<section class="text-center mt-10">
  <div class="mt-10">
    <% if @message %>
      <%= @message %>
    <% else %>
      <p>Google ログイン画面へ移動しています...</p>
      <%= form_tag "/auth/google_oauth2", method: :post do %>
        <p>遷移しない場合は下のボタンを押してください。</p>
        <%= form_tag "/auth/google_oauth2", method: :post, data: {turbo: false} do %>
          <button type="submit" class="px-4 py-2 rounded-lg bg-red-200 text-amber-800 hover:border-slate-200 hover:bg-red-300 hover:shadow transition duration-150">Googleでログイン</button>
        <% end %>
      <% end %>
      <script>
        document.addEventListener("DOMContentLoaded", function() {
          document.forms[0].submit();
        });
      </script>
    <% end %>
  </div>
</section>
